<div class="wrapper animation">

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form [formGroup]="form" (ngSubmit)="onItemSubmit()" enctype="multipart/form-data">
          <div class="form-group">
            <label for="title">
              <h4>Title</h4>
            </label>
            <input type="text" id="title" class="form-control" formControlName="title">
          </div>
          <div class="form-group">
            <label for="category">
              <h4>Catgory</h4>
            </label>
            <input type="text" id="category" class="form-control" formControlName="category">
          </div>
          <div class="form-group">
            <label for="description">
              <h4>description</h4>
            </label>
            <textarea id="description" class="form-control" formControlName="description" cols="30" rows="10"></textarea>
          </div>

          <i class="material-icons prefix">collections</i>

          <div class="file-field input-field">
            <div class="btn-large indigo">
              <span>File</span>
              <input type="file" (change)="changeListner($event)" id="image" name="image" accept=".jpg,.jpeg,.png">
            </div>



            <div class="file-path-wrapper">
              <input class="file-path validate col s6 offset-s1" type="text">
            </div>

          </div>
          <div class="form-group">
            <img class="image" src='{{image}}' />
          </div>

          <button class="btn waves-effect waves-light indigo " type="submit" [disabled]="!form.valid">Add
            <i class="material-icons right">check</i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
